body {
    font-size: 20pt;
    background-color: #FFFFFF;
    background-image: url('../images/bg.jpg');
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

input[type=number]{
    font-size:36px;
    margin:10px 0px;
    width:250px;
}

body {
     
     text-align:center;
}
form {
     margin: 100px auto;
     padding:0;
}

div.results {
    margin: 0px 100px;
    text-transform:capitalize;

}

h1 {
    text-transform:lowercase;
    text-align:left;
    margin:10px 20px;
}

label {
    width:250px;
    display:inline-block;
    text-align:left;
    text-transform:capitalize;
}

div span {
    font-weight:bold;
}